
@font-face {
    font-family: 'IranSans';
    font-style: normal;
    src: url('../fonts/IRANSansWeb.eot');
    src: url('../fonts/IRANSansWeb.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../fonts/IRANSansWeb.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/IRANSansWeb.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/IRANSansWeb.ttf') format('truetype');
}

body {
    font-family: IranSans;
    background: #eff4f7;
}
header,#itemslider,.header_box_products,footer{
    direction: rtl;

}
li {
    list-style: none;
    }

ul {
    list-style: none;
    margin: 0;
    padding: 0; }

a,
a:link,
a:active {
    text-decoration: none;
    outline: none;
    color: #505050;
}

.top_header {
    min-height: 50px;
    background: #fff;
    padding: 12px 0;
}

.top_header .form-group {
    position: relative;
    margin-bottom: 0;
}

.form-group.search_box {
    position: relative;
}
input#search {
    background: #f4f4f4;
}

span#search_icon {
    position: absolute;
    left: 16px;
    top: 7px;
    width: 60px;
    background: #739cf0;
    margin: -6px -15px;
    height: 33px;
    text-align: center;
    color: #fff;
}
span#search_icon i.fa.fa-search {
    position: absolute;
    top: 7px;
    left: 22px;
}
span#logo {
    font-weight: bold;
    color: #7b90e1;
    margin-top: 5px;
    display: inline-block;
}
.btn_get_bazzar {
    background: #f4f4f4;
    width: 100%;
    height: 37px;
    text-align: center;
    padding-top: 7px;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
    color: #777777;
}
.btn_get_bazzar:hover {
    cursor: pointer;
    background: rgba(225, 225, 225, 0.73);
}
.bottom_header {
    min-height: 40px;
    background: #fff;
    border-top: 1px solid #eee;
}
.login {
    text-align: left;
    margin-top: 8px;
}

#login {
    margin-left: 22px;
    display: inline-block;
    cursor: pointer;
}

#lan {
    cursor: pointer;
}


#login:hover {
    color: #b4acac;
}

#lan:hover {
    color: #b4acac;
}
#itemslider img:hover {
    opacity: 0.8;
}

#menu ul a {
    padding: 6px 1px;
    display: block;
}

#menu ul a:hover {
  color: #6ca9e1;
}

.col {
    width: 33%;
    float: right;
}


.sub-menu {
    -webkit-transition: ease 0.3s;
    -moz-transition: ease 0.3s;
    -o-transition: ease 0.3s;
    transition: ease 0.3s;
    padding: 0;
    box-shadow: none;
    display: block;
    overflow: hidden;
    max-height: 0;
    border-color: transparent;
    margin-top: 15px;
    opacity: 0;
    position: absolute;
    top: 39px;
    right: 17px;
    background: #fff;
    width: 544px;
    padding: 13px;
    z-index: 999999;
}


#menu ul li:hover > ul.sub-menu {
    max-height: 60000px;
    display: inline-block;
    margin-top:0;
    opacity: 1
}
.main_menu {
    padding: 8px 0 0 0 !important;
}

#slider-text{
    padding-top: 40px;
    display: block;
}
#slider-text .col-md-6{
    overflow: hidden;
}

#slider-text h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 3px;
    margin: 30px auto;
    padding-left: 40px;
}
#slider-text h2::after{
    border-top: 2px solid #c7c7c7;
    content: "";
    position: absolute;
    bottom: 35px;
    width: 100%;
}

#itemslider h4{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    margin: 10px auto 3px;
}
#itemslider h5{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 12px;
    margin: 3px auto 2px;
}
#itemslider h6{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;;
    font-size: 10px;
    margin: 2px auto 5px;
}
.badge {
    background: #b20c0c;
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    line-height: 31px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    border: 2px solid #FFF;
    box-shadow: 0 0 0 1px #b20c0c;
    top: 5px;
    right: 25%;
}
#slider-control img{
    padding-top: 60%;
    margin: 0 auto;
}





.carousel-showmanymoveone .carousel-control {
    width: 4%;
    background-image: none;
}
.carousel-showmanymoveone .carousel-control.left {
    margin-left: 5px;
}
.carousel-showmanymoveone .carousel-control.right {
    margin-right: 5px;
}
.carousel-showmanymoveone .cloneditem-1,
.carousel-showmanymoveone .cloneditem-2,
.carousel-showmanymoveone .cloneditem-3,
.carousel-showmanymoveone .cloneditem-4,
.carousel-showmanymoveone .cloneditem-5 {
    display: none;
}

.carousel-control.right {
    right: -27px !important;
}

.carousel-control.right {
    right: -45px !important;
    top: 45px;
}
.carousel-control.left {
    left: -45px !important;
    top: 45px;
}
.carousel-control {
    opacity: 1;
}
#itemslider {
    margin-top: 23px;
}



.more_cat {
    background: #fff;
    padding: 8px 15px;
    float: left;
    transition: all 1s;
}
.more_cat:hover {
    background: #e9e9e9;
    cursor: pointer;
}
.box_detail {
    direction: rtl;
    text-align: right;
}
.name_product {
    margin-top: 8px;
    font-weight: bold;
}
.price {
    color: #958e8e;
}
.ads img {
    width: 100%;
    margin: 7px auto;
}
.ads {
    display: block;
    min-height: 216px;
}

.heade_all_box1 {
    font-size: 18px;
}

.categories h3 , .categories h4{
    display: inline-block;
}
.header_box_products {
    min-height: 50px;
    margin-top: 21px;
}
.box_products {
    background: #fff;
    padding: 7px;
    margin: 0 9px;
}
#thumbnail-slider ul li{
    margin-right: 0 !important;
}
.categories .container {
    margin: 0 auto;
    width: 1134px;
}

.box_products img {
    width: 90%;
    text-align: center;
    margin: 0 auto;
    display: block;
}
.star-rating {
    line-height:32px;
    font-size:1.25em;
}

.star-rating .fa-star{color: #ff8700;}
.head_product1, .head_product2,.star-rating {
    margin-right: 8px;
}


footer{
    background: #fff;
}
.footer_bottom .col-md-6 {
    border-left: 1px solid #eee;
    /*border-right: 1px solid #eee;*/

}
.footer_bottom .col-md-3 {
    border-left: 1px solid #eee;
}
.col-md-3.social {
    border-left: transparent;
    margin-bottom: 20px;
}
.copy_right {
    text-align: center;
    margin: 25px auto 0;
}
.head_footer {
    font-size: 16px;
    font-weight: bold;
    margin:28px 13px 17px 0;
}
.footer_top {
    margin-bottom: 27px;
}
.footer_bottom {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.logo_footer {
    font-weight: bold;
    color: #7b90e1;
    margin-top: 5px;
    display: inline-block;
}

.lAN_footer ul li {
    display: inline-block;
    margin: 11px 17px;
}
footer a {
    color: #959595;
}

.text_copy_right {
    color: #959595;
}

.social_footer li {
    display: inline-block;
}
.social_footer img {
    width: 27px;
}
.menu_footer li {
    margin: 14px 0;
}


.sidebar,.box_single_product {
    direction: rtl;
    background: #fff;
    margin: 24px 0;
    padding: 5px;
}

.part_left {
    text-align: left;
    float: left;
}

.head_sidebar {
    border-bottom: 1px solid #eee;
    margin-bottom: 9px;
    padding-bottom: 9px;
}
.body_sidebar img {
    float: right;
    width: 31% !important;
    margin-left: 9px;
}


.box_products li {
    border-bottom: 1px solid #eee;
}

.dwn {
    background: #739cf0;
    padding: 6px 51px;
    margin: 8px 6px;
}
.title_product {
    margin: 13px 0;
    font-size: 18px;
}
.social_single .social_footer li {
    margin: 12px 3px;
}
.img-responsive.gallery_pic {
    padding: 26px;
}
.features i {
    color: #739cf0;
    font-size: 18px;
    margin-bottom: 3px;
    display: inline-block;
    position: relative;
    top: -22px;
}

.features p {
    display: inline-block;
    width: 96%;
    margin: 12px 0;
    line-height: 26px;

}
.footer_singe_product {
    min-height: 156px;
    border-top: 1px solid #eee;
}
.head_detail {
    font-weight: bold;
    margin: 17px auto 3px;
}

@media screen and (max-width: 992px){
    #slider-control img {
        padding-top: 70px;
        margin: 0 auto;
    }
}

@media all and (min-width: 768px) {
    .carousel-showmanymoveone .carousel-inner > .active.left,
    .carousel-showmanymoveone .carousel-inner > .prev {
        left: -50%;
    }
    .carousel-showmanymoveone .carousel-inner > .active.right,
    .carousel-showmanymoveone .carousel-inner > .next {
        left: 50%;
    }
    .carousel-showmanymoveone .carousel-inner > .left,
    .carousel-showmanymoveone .carousel-inner > .prev.right,
    .carousel-showmanymoveone .carousel-inner > .active {
        left: 0;
    }
    .carousel-showmanymoveone .carousel-inner .cloneditem-1 {
        display: block;
    }
}
@media all and (min-width: 768px) and (transform-3d), all and (min-width: 768px) and (-webkit-transform-3d) {
    .carousel-showmanymoveone .carousel-inner > .item.active.right,
    .carousel-showmanymoveone .carousel-inner > .item.next {
        -webkit-transform: translate3d(50%, 0, 0);
        transform: translate3d(50%, 0, 0);
        left: 0;
    }
    .carousel-showmanymoveone .carousel-inner > .item.active.left,
    .carousel-showmanymoveone .carousel-inner > .item.prev {
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
        left: 0;
    }
    .carousel-showmanymoveone .carousel-inner > .item.left,
    .carousel-showmanymoveone .carousel-inner > .item.prev.right,
    .carousel-showmanymoveone .carousel-inner > .item.active {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        left: 0;
    }
}
@media all and (min-width: 992px) {
    .carousel-showmanymoveone .carousel-inner > .active.left,
    .carousel-showmanymoveone .carousel-inner > .prev {
        left: -16.666%;
    }
    .carousel-showmanymoveone .carousel-inner > .active.right,
    .carousel-showmanymoveone .carousel-inner > .next {
        left: 16.666%;
    }
    .carousel-showmanymoveone .carousel-inner > .left,
    .carousel-showmanymoveone .carousel-inner > .prev.right,
    .carousel-showmanymoveone .carousel-inner > .active {
        left: 0;
    }
    .carousel-showmanymoveone .carousel-inner .cloneditem-2,
    .carousel-showmanymoveone .carousel-inner .cloneditem-3,
    .carousel-showmanymoveone .carousel-inner .cloneditem-4,
    .carousel-showmanymoveone .carousel-inner .cloneditem-5,
    .carousel-showmanymoveone .carousel-inner .cloneditem-6  {
        display: block;
    }
}
@media all and (min-width: 992px) and (transform-3d), all and (min-width: 992px) and (-webkit-transform-3d) {
    .carousel-showmanymoveone .carousel-inner > .item.active.right,
    .carousel-showmanymoveone .carousel-inner > .item.next {
        -webkit-transform: translate3d(33.333%, 0, 0);
        transform: translate3d(33.333%, 0, 0);
        left: 0;
    }
    .carousel-showmanymoveone .carousel-inner > .item.active.left,
    .carousel-showmanymoveone .carousel-inner > .item.prev {
        -webkit-transform: translate3d(-16.666%, 0, 0);
        transform: translate3d(-33.333%, 0, 0);
        left: 0;
    }
    .carousel-showmanymoveone .carousel-inner > .item.left,
    .carousel-showmanymoveone .carousel-inner > .item.prev.right,
    .carousel-showmanymoveone .carousel-inner > .item.active {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        left: 0;
    }
}


@media screen and (max-width: 990px) {

    span#logo {
        text-align: center;
        margin: 0 auto 6px;
        display: block;
    }

    .btn_get_bazzar {
        margin: 8px auto 0px;
    }
}


@media screen and (max-width: 990px) {


}


@media screen and (max-width: 600px) {

    .col {
        width: 100%;
        float: none;
    }
    .sub-menu {
        -webkit-transition: ease 0.3s;
        -moz-transition: ease 0.3s;
        -o-transition: ease 0.3s;
        transition: ease 0.3s;
        padding: 0;
        box-shadow: none;
        display: block;
        overflow: hidden;
        border-color: transparent;
        margin-top: 15px;
        opacity: 0;
        position: absolute;
        top: 39px;
        right: 17px;
        background: #fff;
        width: 182%;
        padding: 13px;
    }

    .more_cat {
        background: #fff;
        padding: 8px 15px;
        float: none;
        transition: all 1s;
        text-align: center;
        width: 100%;
        display: block;
    }
    .header_box_products {
        text-align: center;
    }
    .features i {
        top: 18px;
    }
}




