


/*slider2*/
/* http://www.menucool.com/jquery-slider */

#thumbnail-slider {
    margin: 0 auto;
    width: 100%;
    padding: 9px 0 9px 0;
    box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    user-select: none;

}

#thumbnail-slider div.inner {
    /*the followings should not be changed */
    position:relative;
    overflow:hidden;
    padding: 0px 0 18px 0;
    margin:0;
}


#thumbnail-slider div.inner ul {
    /*the followings should not be changed */
    white-space:nowrap;
    position:relative;
    left:0; top:0;
    list-style:none;
    font-size: 14px;
    padding:0;
    margin:0;
    float:left!important;
    width:auto!important;
    height:auto!important;
}

#thumbnail-slider ul li {
    display:inline-block;
    *display:inline!important; /*IE7 hack*/
    border:transparent;
    margin:0;
    margin-right:10px; /* Spacing between thumbs*/
    transition:border-color 0.3s;
    box-sizing:content-box;
    text-align:center;
    vertical-align:middle;
    padding:0;
    position:relative;
    list-style:none;
    backface-visibility:hidden;
}

#thumbnail-slider ul li.active {
    border-color:white;
}

#thumbnail-slider .thumb {
    opacity: 1;
    width: 78%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
    position: absolute;
    font-size: 0;
    text-align: center;
    margin: 0 auto;
    left: 0;
    right: 0;
}

/* --------- navigation controls ------- */
/* The nav id should be: slider id + ("-prev", "-next", and "-pause-play") */

#thumbnail-slider-pause-play {display:none;} /*.pause*/

#thumbnail-slider-prev, #thumbnail-slider-next
{
    opacity:1;
    position: absolute;
    /*background-color:#0346a3;*/
    *background-color:#ccc;/*IE7 hack*/
    backface-visibility:hidden;
    width:32px;
    height:60px;
    line-height:60px;
    top: 50%;
    margin:0;
    margin-top:-30px;
    color:white;
    z-index:10;
    cursor:pointer;
}

#thumbnail-slider-prev {
    left:0px; right:auto;
}

#thumbnail-slider-next {
    left:auto; right:0px;
}
#thumbnail-slider-next.disabled, #thumbnail-slider-prev.disabled {
    opacity:0.3;
    cursor:default;
}


/* arrows */
#thumbnail-slider-prev::before, #thumbnail-slider-next::before {
    position: absolute;
    top: 19px;
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    border-left: 6px solid black;
    border-top: 6px solid black;
}

#thumbnail-slider-prev::before {
    left:7px;
    -ms-transform:rotate(-45deg);/*IE9*/
    -webkit-transform:rotate(-45deg);
    transform: rotate(-45deg);
}

#thumbnail-slider-next::before {
    right:7px;
    -ms-transform:rotate(135deg);/*IE9*/
    -webkit-transform:rotate(135deg);
    transform: rotate(135deg);
}

/*Responsive settings*/
@media only screen and (max-width:736px){

    #thumbnail-slider {padding:10px 26px;}

    #thumbnail-slider-prev {left:0px;}

    #thumbnail-slider-next {right:0px;}
}

/*slider2*/
/* http://www.menucool.com/jquery-slider */


/*slider2*/
/* http://www.menucool.com/jquery-slider */

#thumbnail-slider2 {
    margin: 0 auto;
    width: 100%;
    padding: 9px 0 9px 0;
    box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    user-select: none;
}

#thumbnail-slider2 div.inner {
    /*the followings should not be changed */
    position:relative;
    overflow:hidden;
    padding: 0px 0 18px 0;
    margin:0;
}


#thumbnail-slider2 div.inner ul {
    /*the followings should not be changed */
    white-space:nowrap;
    position:relative;
    left:0; top:0;
    list-style:none;
    font-size: 14px;
    padding:0;
    margin:0;
    float:left!important;
    width:auto!important;
    height:auto!important;
}

#thumbnail-slider2 ul li {
    display:inline-block;
    *display:inline!important; /*IE7 hack*/
    border:transparent;
    margin:0;
    margin-right:10px; /* Spacing between thumbs*/
    transition:border-color 0.3s;
    box-sizing:content-box;
    text-align:center;
    vertical-align:middle;
    padding:0;
    position:relative;
    list-style:none;
    backface-visibility:hidden;
}

#thumbnail-slider2 ul li.active {
    border-color:white;
}

#thumbnail-slider2 .thumb {
    opacity: 1;
    width: 78%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
    position: absolute;
    font-size: 0;
    text-align: center;
    margin: 0 auto;
    left: 0;
    right: 0;
}

/* --------- navigation controls ------- */
/* The nav id should be: slider id + ("-prev", "-next", and "-pause-play") */

#thumbnail-slider2-pause-play {display:none;} /*.pause*/

#thumbnail-slider2-prev, #thumbnail-slider2-next
{
    opacity:1;
    position: absolute;
    /*background-color:#0346a3;*/
    *background-color:#ccc;/*IE7 hack*/
    backface-visibility:hidden;
    width:32px;
    height:60px;
    line-height:60px;
    top: 50%;
    margin:0;
    margin-top:-30px;
    color:white;
    z-index:10;
    cursor:pointer;
}

#thumbnail-slider2-prev {
    left:0px; right:auto;
}

#thumbnail-slider2-next {
    left:auto; right:0px;
}
#thumbnail-slider2-next.disabled, #thumbnail-slider2-prev.disabled {
    opacity:0.3;
    cursor:default;
}


/* arrows */
#thumbnail-slider2-prev::before, #thumbnail-slider2-next::before {
    position: absolute;
    top: 19px;
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    border-left: 6px solid black;
    border-top: 6px solid black;
}

#thumbnail-slider2-prev::before {
    left:7px;
    -ms-transform:rotate(-45deg);/*IE9*/
    -webkit-transform:rotate(-45deg);
    transform: rotate(-45deg);
}

#thumbnail-slider2-next::before {
    right:7px;
    -ms-transform:rotate(135deg);/*IE9*/
    -webkit-transform:rotate(135deg);
    transform: rotate(135deg);
}

/*Responsive settings*/
@media only screen and (max-width:736px){

    #thumbnail-slider2 {padding:10px 26px;}

    #thumbnail-slider2-prev {left:0px;}

    #thumbnail-slider2-next {right:0px;}
}




/*slider3*/
/* http://www.menucool.com/jquery-slider */

#thumbnail-slider3 {
    margin: 0 auto;
    width: 100%;
    padding: 9px 0 9px 0;
    box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    user-select: none;
}

#thumbnail-slider3 div.inner {
    /*the followings should not be changed */
    position:relative;
    overflow:hidden;
    padding: 0px 0 18px 0;
    margin:0;
}


#thumbnail-slider3 div.inner ul {
    /*the followings should not be changed */
    white-space:nowrap;
    position:relative;
    left:0; top:0;
    list-style:none;
    font-size: 14px;
    padding:0;
    margin:0;
    float:left!important;
    width:auto!important;
    height:auto!important;
}

#thumbnail-slider3 ul li {
    display:inline-block;
    *display:inline!important; /*IE7 hack*/
    border:transparent;
    margin:0;
    margin-right:10px; /* Spacing between thumbs*/
    transition:border-color 0.3s;
    box-sizing:content-box;
    text-align:center;
    vertical-align:middle;
    padding:0;
    position:relative;
    list-style:none;
    backface-visibility:hidden;
}

#thumbnail-slider3 ul li.active {
    border-color:white;
}

#thumbnail-slider3 .thumb {
    opacity: 1;
    width: 78%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
    position: absolute;
    font-size: 0;
    text-align: center;
    margin: 0 auto;
    left: 0;
    right: 0;
}

/* --------- navigation controls ------- */
/* The nav id should be: slider id + ("-prev", "-next", and "-pause-play") */

#thumbnail-slider3-pause-play {display:none;} /*.pause*/

#thumbnail-slider3-prev, #thumbnail-slider3-next
{
    opacity:1;
    position: absolute;
    /*background-color:#0346a3;*/
    *background-color:#ccc;/*IE7 hack*/
    backface-visibility:hidden;
    width:32px;
    height:60px;
    line-height:60px;
    top: 50%;
    margin:0;
    margin-top:-30px;
    color:white;
    z-index:10;
    cursor:pointer;
}

#thumbnail-slider3-prev {
    left:0px; right:auto;
}

#thumbnail-slider3-next {
    left:auto; right:0px;
}
#thumbnail-slider3-next.disabled, #thumbnail-slider3-prev.disabled {
    opacity:0.3;
    cursor:default;
}


/* arrows */
#thumbnail-slider3-prev::before, #thumbnail-slider3-next::before {
    position: absolute;
    top: 19px;
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    border-left: 6px solid black;
    border-top: 6px solid black;
}

#thumbnail-slider3-prev::before {
    left:7px;
    -ms-transform:rotate(-45deg);/*IE9*/
    -webkit-transform:rotate(-45deg);
    transform: rotate(-45deg);
}

#thumbnail-slider3-next::before {
    right:7px;
    -ms-transform:rotate(135deg);/*IE9*/
    -webkit-transform:rotate(135deg);
    transform: rotate(135deg);
}

/*Responsive settings*/
@media only screen and (max-width:736px){

    #thumbnail-slider3 {padding:10px 26px;}

    #thumbnail-slider3-prev {left:0px;}

    #thumbnail-slider3-next {right:0px;}
}




/*slider4*/
/* http://www.menucool.com/jquery-slider */

#thumbnail-slider4 {
    margin: 0 auto;
    width: 100%;
    padding: 9px 0 9px 0;
    box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    user-select: none;
}

#thumbnail-slider4 div.inner {
    /*the followings should not be changed */
    position:relative;
    overflow:hidden;
    padding: 0px 0 18px 0;
    margin:0;
}


#thumbnail-slider4 div.inner ul {
    /*the followings should not be changed */
    white-space:nowrap;
    position:relative;
    left:0; top:0;
    list-style:none;
    font-size: 14px;
    padding:0;
    margin:0;
    float:left!important;
    width:auto!important;
    height:auto!important;
}

#thumbnail-slider4 ul li {
    display:inline-block;
    *display:inline!important; /*IE7 hack*/
    border:transparent;
    margin:0;
    margin-right:10px; /* Spacing between thumbs*/
    transition:border-color 0.3s;
    box-sizing:content-box;
    text-align:center;
    vertical-align:middle;
    padding:0;
    position:relative;
    list-style:none;
    backface-visibility:hidden;
}

#thumbnail-slider4 ul li.active {
    border-color:white;
}

#thumbnail-slider4 .thumb {
    opacity: 1;
    width: 78%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
    position: absolute;
    font-size: 0;
    text-align: center;
    margin: 0 auto;
    left: 0;
    right: 0;
}

/* --------- navigation controls ------- */
/* The nav id should be: slider id + ("-prev", "-next", and "-pause-play") */

#thumbnail-slider4-pause-play {display:none;} /*.pause*/

#thumbnail-slider4-prev, #thumbnail-slider4-next
{
    opacity:1;
    position: absolute;
    /*background-color:#0346a3;*/
    *background-color:#ccc;/*IE7 hack*/
    backface-visibility:hidden;
    width:32px;
    height:60px;
    line-height:60px;
    top: 50%;
    margin:0;
    margin-top:-30px;
    color:white;
    z-index:10;
    cursor:pointer;
}

#thumbnail-slider4-prev {
    left:0px; right:auto;
}

#thumbnail-slider4-next {
    left:auto; right:0px;
}
#thumbnail-slider4-next.disabled, #thumbnail-slider4-prev.disabled {
    opacity:0.3;
    cursor:default;
}


/* arrows */
#thumbnail-slider4-prev::before, #thumbnail-slider4-next::before {
    position: absolute;
    top: 19px;
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    border-left: 6px solid black;
    border-top: 6px solid black;
}

#thumbnail-slider4-prev::before {
    left:7px;
    -ms-transform:rotate(-45deg);/*IE9*/
    -webkit-transform:rotate(-45deg);
    transform: rotate(-45deg);
}

#thumbnail-slider4-next::before {
    right:7px;
    -ms-transform:rotate(135deg);/*IE9*/
    -webkit-transform:rotate(135deg);
    transform: rotate(135deg);
}

/*Responsive settings*/
@media only screen and (max-width:736px){

    #thumbnail-slider4 {padding:10px 26px;}

    #thumbnail-slider4-prev {left:0px;}

    #thumbnail-slider4-next {right:0px;}
}

